body {
  background-color: #d3d3d3;
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: #333;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
table,
tr,
th,
td {
  padding: 0.5rem 1.2rem;
}
td:hover {
  /* border: 1px solid black; */
  cursor: pointer;
}

.red {
  background-color: #ff9999;
}

.blue {
  background-color: #99ccff;
}

.yellow {
  background-color: #fdff8c;
}

.green {
  background-color: #9bff99;
}
